
.rec-carousel-item {
    align-content: center
}

.rec-carousel-wrapper {
    width: 100%
}

button.rec.rec-arrow {
    color: #fff;
    background-color: #085ab1;
}

button.rec.rec-arrow:hover,
button.rec.rec-arrow:focus{
    background-color: #168ae3;
    color: #fff;
}

.rec-dot {
    box-shadow: 0 0 1px 3px #085ab1 !important;
}

.rec.rec-dot_active {
    background-color: #085ab1;
}

.rec-pagination > button {
    border-color: #085ab1;
}

img {
    width: 150px;
    height: auto;
}